.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 10px;
}

.section {
    background-color: #D0FFB7;
    max-height: 40rem;
    width: 30rem;
    margin: 1rem;
    padding: 2rem 3rem 1rem;
    border-radius: 10px;
    box-shadow: 2px 2px 7px 2px gray;
    font-family: 'Open Sans', serif;
    font-weight: 500;
}


.section li {
    align-self: left;
}

.title {
    display: flex;
    justify-content: space-between;
}

.title h1 {
    text-decoration: none;
    cursor: pointer;
}

.title a {
    text-decoration: none;
}

.title h1:hover {
    background-color: #86e7b8;
}


.info p {
    background-color: #F2F5DE;
    padding: 1rem;
    border-radius: 10px;
    border: solid black 1px;
    max-height: 10rem;
    width: 23rem;
}

.info hr{
    border-bottom: black solid 1px;
    margin-top: 1rem;
}

.info h3 {
    margin-top: .5rem;
}

.button {
    background-color: #86e7b8;
    font-weight: 900;
    padding: 1rem;
    margin-right: 1rem;
    /* box-shadow: 1px 1px 5px 1px gray; */
    border-radius: 10px;
    border: none;
    font-family: 'Open Sans', serif;
}

.delete {
    background-color: #ff8589;
}

button:disabled {
    background-color: #ddd;
}

button:hover {
    cursor: pointer;
}

