.navbar {
    display: flex;
    align-items: center;
    height: 7rem;
    background-color: #B2FFA8;
    justify-content: space-between;
    color: #ffffff;
    box-shadow: 2px 2px 7px 2px gray;
  }

  .navbar ul {
    display: flex;
    list-style: none;
  }

  li {
    text-align: center;
  }

  .navbar ul li {
    font-family: 'Open Sans', serif;
    font-weight: 500;
    padding: 2rem 1rem;
  }

  .navbar ul li:hover {
    background-color: #D0FFB7;
    box-shadow: 2px 2px 7px 2px lightgrey;
    border-radius: 10px;
  }

  .navbar__link--active {
    background-color: #93FF96;
    font-weight: 900;
    padding: 2rem 1rem;
    box-shadow: 2px 2px 7px 2px gray;
    border-radius: 10px;
  }

  .navbar h1 {
    padding-left: 2rem;
    font-family: 'Permanent Marker', sans-serif;
    font-size: 3rem;
  }

  .navbar a {
    text-decoration: none;
    color: black;
  }
