.footer {    
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    height: 7rem;
    background-color: #B2FFA8;
    font-family: 'Open Sans', serif;
    box-shadow: 2px 2px 5px 2px gray;
}