.form {
  background-color: #d0ffb7;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 2px 2px 7px 2px gray;
  font-family: 'Open Sans', serif;
  font-weight: 500;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.form input,
textarea {
  margin-bottom: 1rem;
}

.form label {
  margin-bottom: 0.25rem;
}
