.meet {
    background-color: #D0FFB7;
    max-height: 40rem;
    width: 30rem;
    margin: 1rem;
    padding: 2rem 3rem 1rem;
    border-radius: 10px;
    box-shadow: 2px 2px 7px 2px gray;
    font-family: 'Open Sans', serif;
    font-weight: 500;
}

.info {
    background-color: #F2F5DE;
    padding: 1rem;
    border-radius: 10px;
    border: solid black 1px;
    max-height: 10rem;
    width: 28rem;
}