.form {
    background-color: #D0FFB7;
    max-height: 100rem;
    max-width: 100rem;
    padding: 0rem 3rem 3rem;
    border-radius: 10px;
    box-shadow: 2px 2px 7px 2px gray;
    font-family: 'Open Sans', serif;
    font-weight: 500;
    margin-bottom: 3rem;
}

.header {
    display: flex;
    flex-direction: column;
}

.header h1 {
    margin-bottom: 0;
}

.header img {
    align-self: center;
    max-width: 28rem;
    max-height: 25rem;
    border-radius: 10px;
    margin-bottom: 2rem;
  }

.form h1 {
    font-family: 'Permanent Marker', sans-serif;
    font-size: 3rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.container input, textarea, select {
    margin-bottom: 1rem;
    max-width: 28rem;
}

.container label {
    margin-bottom: .25rem;
}

.button {
    background-color: #86e7b8;
    font-weight: 900;
    padding: 1rem;
    box-shadow: 1px 1px 5px 1px gray;
    border-radius: 10px;
    border: none;
    font-size: 1.5rem;
    font-family: 'Open Sans', serif;
}

button:disabled {
    background-color: #ddd;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
}

